bertopic==0.17.3
detoxify==0.5.2
gensim==4.4.0
google_api_python_client==2.187.0
hdbscan==0.8.41
ipython==8.12.3
ipywidgets==8.1.8
langdetect
matplotlib==3.11.0
nltk==3.9.1
numba==0.63.1
numpy
pandas
plotly==6.3.0
scikit_learn==1.9.0
scikit_posthocs==0.11.4
scipy==1.18.0
seaborn==0.13.2
sentence_transformers==5.1.1
spacy==3.8.7
statsmodels==0.14.6
tqdm==4.67.1
transformers==4.56.2
umap_learn==0.5.9.post2
Unidecode==1.4.0
xgboost==3.3.0
pyarrow
fastparquet
bertopic==0.17.3
detoxify==0.5.2
gensim==4.4.0
google_api_python_client==2.187.0
hdbscan==0.8.41
ipython==8.12.3
ipywidgets==8.1.8
matplotlib==3.11.0
nltk==3.9.1
numba==0.63.1
numpy
pandas
plotly==6.3.0
scikit_learn==1.9.0
scikit_posthocs==0.11.4
scipy==1.18.0
seaborn==0.13.2
sentence_transformers==5.1.1
spacy==3.8.7
statsmodels==0.14.6
tqdm==4.67.1
transformers==4.56.2
umap_learn==0.5.9.post2
Unidecode==1.4.0
xgboost==3.3.0
pyarrow
fastparquet